*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 2.5rem;
    font-weight: 700;
    font-family: "DM Sans", sans-serif;
    color: black;
    text-align: center;
}

.headtitle{
    font-size: 1.2rem;
    font-family: "DM Sans", sans-serif;
    text-align:center;
    padding: 0px;
    margin: 0px 0px 10px 0px;
    color: #222725;
}

hr{
    width: 90%;
    margin: 0px auto 6px auto;
}

body{
    font-size: 1rem;
    font-weight: 600;
    font-family: "DM Sans", sans-serif;
    background-color: #f7f7f2;
    color: #222725;
}

.card{
    box-sizing: border-box;
    width: min (90% 320px);
    padding:  1rem 1.5rem;
    margin: 1.2rem auto;
    border: 2px solid #ffffff;
    border-radius: 8px;
    border-color: black;
    text-align: center;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.504);
    background-color:#fafaff;
}
.card h1{
    font-size: 1.5rem;
    letter-spacing: 0.8px;
    margin-bottom: 0.3rem;
}

footer{
    font-size: 0.8rem;
    font-weight: 400;
    font-family: "DM Sans", sans-serif;
    color: #222725;
    text-align: center;
    padding: 10px 0px 0px 0px;
}

.social-link{
    justify-content: center;
    display: flex;
    gap: 15px;
}

