*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "General Sans", sans-serif;
  background-color: #000000;
  color: #ffffff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 20px;
  background-color: #eee;
}

.logo a {
  text-decoration: none;
  font-size: 30px;
  font-weight: 900;
  color: #FE0000;
  -webkit-text-stroke: 0.4px black;
}

.nav-links ul {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: #3c3c3c;
  transition: color 0.3s ease-in-out;
}

.nav-links a:hover {
  color: hsl(0, 0%, 0%);
}

.hamburger-menu {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  width: 40px;
  height: 30px;
  cursor: pointer;
}

.hamburger-menu span {
  display: block;
  width: 35px;
  height: 20px;
  background-color: red;
  transition: all 0.3s ease;
}

@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #333;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }

  .nav-links.active {
    max-height: 300px;
    opacity: 1;
  }

  .hamburger-menu {
    display: flex;
  }

  .nav-links ul {
    flex-direction: column;
    gap: 20px;
    padding: 10px 0;
  }

  .nav-links a {
    color: #fff;
  }
}
